*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

venv
notebooks/*
tandt/*
db/*
tandt_db.zip
SIBR_viewers/
SIBR_viewers/*
# submodules/diff-gaussian-rasterization/
# submodules/simple-knn/