*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

venv
tandt/*
db/*
tandt_db.zip
saved_output/*
nohup.out
360_v2
360_v2.zip
DrJohnson_Reconstruction_Inputs_Outputs.zip
Playroom_Reconstruction_Inputs_Outputs.zip